*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul, ol, li{
    list-style: none;
}

html, body{
    scroll-behavior: smooth;
}

header{
    background-color: #333;
    padding: 32px;
    position: fixed;
    width: 100vw;
}

header nav ul{
    display: flex;
    justify-content: space-between;
}

header nav a{
    color: white;
    padding: 8px;
    transition: 1s;
}

header nav a:hover{
    background-color: red;
}
.grupo{
    height: 100vh;
}

#vermelho{
    background-color: tomato;
}
#verde{
    background-color: lightgreen;
}
#azul{
    background-color: lightblue;
}
#amarelo{
    background-color: gold;
}
#roxo{
    background-color: purple;
}